<div class="detail">
  <img src="<%= pokemon.escape('image_url')%>" alt="" /><br>
  Name: <%= pokemon.escape('name') %>
  <% for(var attr in pokemon.attributes){ %>
    <% if (attr != 'id' && attr != 'image_url' && attr != 'name') { %>
      <p><%= attr + ": " + pokemon.escape(attr) %></p>
    <% }; %>
  <% }; %>
</div>
<p>Toys: </p>
<ul class="toys"></ul>
